@import url(./vendor/normalize.css);
@import url(./vendor/inter.css);
@import url(./blocks/page/page.css);
@import url(./blocks/page/__footer/page__footer.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/content/content.css);
@import url(./blocks/content/__profile/content__profile.css);
@import url(./blocks/content/__elements/content__elements.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__wrapper/profile__wrapper.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__edit-overlay/profile__edit-overlay.css);
@import url(./blocks/profile/__edit-img/profile__edit-img.css);
@import url(./blocks/profile/__input/profile__input.css);
@import url(./blocks/profile/__cover-text/profile__cover-text.css);
@import url(./blocks/profile/__input-name/profile__input-name.css);
@import url(./blocks/profile/__input-occupation/profile__input-occupation.css);
@import url(./blocks/profile/__button/profile__button.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/profile/__add-button-img/profile__add-button-img.css);
@import url(./blocks/elements/elements.css);
@import url(./blocks/elements/__element/elements__element.css);
@import url(./blocks/elements/__image/elements__image.css);
@import url(./blocks/elements/__trash/elements__trash.css);
@import url(./blocks/elements/__trash/_active/elements__trash_active.css);
@import url(./blocks/elements/__discription/elements__discription.css);
@import url(./blocks/elements/__text/elements__text.css);
@import url(./blocks/elements/__discription-wrapper/elements__discription-wrapper.css);
@import url(./blocks/elements/__heart/elements__heart.css);
@import url(./blocks/elements/__heart-count/elements__heart-count.css);
@import url(./blocks/elements/__heart/_active/elements__heart_active.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_type/popup_type_edit.css);
@import url(./blocks/popup/_type/popup_type_image.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__close-btn/popup__close-btn.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__input-container/popup__input-container.css);
@import url(./blocks/popup/__text/popup__text.css);
@import url(./blocks/popup/__text-container/popup__text-container.css);
@import url(./blocks/popup/__text/_type/popup__text_type_error.css);
@import url(./blocks/popup/__text-error/popup__text-error.css);
@import url(./blocks/popup/__button/popup__button.css);
@import url(./blocks/popup/__button/_disabled/popup__button_disabled.css);
@import url(./blocks/popup-image/popup-image.css);
@import url(./blocks/popup-image/__container/popup-image__container.css);
@import url(./blocks/popup-image/__close-btn/popup-image__close-btn.css);
@import url(./blocks/popup-image/__img/popup-image__img.css);
@import url(./blocks/popup-image/__title/popup-image__title.css);
@import url(./blocks/login/login.css);
@import url(./blocks/login/__title/login__title.css);
@import url(./blocks/login/__signup/login__signup.css);
@import url(./blocks/login/__text/login__text.css);
@import url(./blocks/login/__button-container/login__button-container.css);
@import url(./blocks/login/__link/login__link.css);
@import url(./blocks/register/register.css);
@import url(./blocks/register/__title/register__title.css);
@import url(./blocks/register/__signin/register__signin.css);
@import url(./blocks/register/__text/register__text.css);
@import url(./blocks/register/__button-container/register__button-container.css);
@import url(./blocks/register/__link/register__link.css);
